SNOWFLAKE_ACCOUNT=your_account.region.cloud
SNOWFLAKE_TOKEN=your_snowflake_pat_or_oauth_token
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=SNOWFLAKE_SAMPLE_DATA
SNOWFLAKE_SCHEMA=PUBLIC
DEDALUS_API_KEY=your_dedalus_api_key_here
